input {
    margin-bottom: 10px;
}

.icon {
    color: red;
} 

#removeButton {
    margin-top: 10px;
    margin-bottom: 20px;
}

#persistBox {
    margin-left: 5px;
    margin-top: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}